---
title: Home page
layout: default
---

<section class="post-grid">
  {% for post in site.data.data %}
    {% if forloop.index0 < 5 %}
      {% include post/post-1.html %}
    {% endif %}
  {% endfor %}
</section>

{% include welcome.html %}

<section class="three-posts">
  <h2 class="h2">
    <span class="h2__text">Category</span>
  </h2>
  <div class="three-posts__wrapper">
    {% for post in site.data.data %}
      {% if forloop.index0 < 3 %}
        {% include post/post-center.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>