<section class="welcome">
  <div class="welcome__logo">
    <img src="https://via.placeholder.com/280x230.png" alt="Logotype">
  </div>
  <div>
    <h2 class="h2">
      <span class="h2__text">Welcome to {{ site.name }}</span>
    </h2>
    <p>
      Usefulness, endurance, functionality and protection of your home are our credo here at Plumbing Networks, and they are all within reach of your hand.
      You can, undoubtedly, tackle with every technical issue that arises in your household, don’t let anyone convince you in the opposite. A leaky pipe or a lock that needs changing will turn into a minor obstacle with the help of our staff at Plumbing Networks.
      It is important that you know you can rely on us. We will share instructions and our tricks of the trade with you. Whether you wish to add a new element to your home, modernise a part of it or simply repair something, we will be by your side with our experienced input.
    </p>
  </div>
</section>