---
layout: default
---

{% assign size = page.name | size | minus: 3 %}
{% assign name = page.name | slice: 0, size %}

{% for item in site.data.content %}
{% if item.Url == name %}
  {% assign title = item.Page %}
{% endif %}
{% endfor %}

<h1>{{ title }}</h1>

{% for item in site.data.content %}
{% if item.Url == name %}
<article class="article">
  <img src="{{ item.Image }}">
  <h2 class="h2">
    <span class="h2__text"></span>
    {{ item.Heading }}
  </h2>
  <p>
    {{ item.Content }}
  </p>
</article>
{% endif %}
{% endfor %}

<section class="three-posts">
  <h2 class="h2">
    <span class="h2__text">How much does mini skip hire cost?</span>
  </h2>
  <div class="three-posts__wrapper">
    {% for post in site.data.content %}
    {% if forloop.index0 < 3 %}
    {% include post/post-center.html %}
    {% endif %}
    {% endfor %}
  </div>
</section>